.black-key {
  position: absolute;
  width: 2.3rem;
  height: 10rem;
  border: solid black 6px;
  border-top-width: 6px;
  border-radius: 0 0 6px 6px;
  background-image: linear-gradient(to bottom, rgb(41, 41, 41), black);
  box-sizing: border-box;
  cursor: pointer;

  &:active {
    filter: brightness(5);
  }
}

.Csh5 {
  left: 2rem;
}

.Dsh5 {
  left: 6.2rem;
}

.Fsh5 {
  left: 12.6rem;
}

.Gsh5 {
  left: 16.4rem;
}

.Ash5 {
  left: 20.2rem;
}

.Csh6 {
  left: 26.5rem;
}

.Dsh6 {
  left: 30.7rem;
}

.Fsh6 {
  left: 37.1rem;
}

.Gsh6 {
  left: 40.9rem;
}

.Ash6 {
  left: 44.7rem;
}
