.App {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background: linear-gradient(-45deg, #9e768f, #9fa4c4, #a88beb, #f8ceec);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
  margin: 0;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
